<!DOCTYPE html>
<html>
<head>
    <title>Simple form</title>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <style type="text/css">
        .container {
            max-width: 1200px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="container" id="simple-form">
        <div class="page-header">
            <h1>Simple form</h1>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <form class="form">
                    <div class="form-group">
                        <label>First name</label>
                        <input
                            type="text"
                            class="form-control"
                            v-model="inputs.firstName"
                        >
                    </div>
                    <div class="form-group">
                        <label>Last name</label>
                        <input
                            type="text"
                            class="form-control"
                            v-model="inputs.lastName"
                        >
                    </div>
                    <div class="form-group">
                        <label>Age</label>
                        <input
                            type="number"
                            class="form-control"
                            v-model="inputs.age"
                            step="1"
                            min="1"
                            max="100"
                        >
                    </div>
                    <div class="form-group">
                        <label>Gender</label>
                        <select
                            class="form-control"
                            v-model="inputs.gender"
                        >
                            <option v-for="item in options.gender" :disabled="! $index">
                                {{ item }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Country</label>
                        <select
                            class="form-control"
                            v-model="inputs.countryCode"
                        >
                            <option
                                v-for="country in options.countries"
                                :value="country.code"
                            >
                                {{ country.label }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-primary pull-right"
                            @click="submitForm"
                            >
                            Open DevTools and press this btn
                        </a>
                    </div>
                </form>
            </div>
            <div class="col-xs-6">
                <h4>Computed values:</h4>
                <table class="table table-bordered table-condensed">
                    <tbody>
                        <tr>
                            <td style="width:100px">Full name</td>
                            <td>{{ fullName.length ? fullName : '-' }}</td>
                        </tr>
                        <tr>
                            <td>Till retirment</td>
                            <td>{{ tillRetirement }}</td>
                        </tr>
                    </tbody>
                </table>
                <h4>Data:</h4>
                <pre>{{ $data | json }}</pre>
            </div>
        </div>
    </div>

    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.js"></script>
    <script type="text/javascript" src="js/simple-form.js"></script>
</body>
</html>
